body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

                                                /* Headings */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1.5;
}
h1 {
  color: white;
  margin-bottom: 30px;
  padding-top: 30px;
}

.cta-text {
  font-size: 3rem;
}

.text-font {
  font-size: 1.5rem;
}


.p-features {
  color: #8f8f8f;
  font-size: 1rem;
}

.container-fluid {
  padding: 7% 15%
}




                                            /* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar-brand {
  font-family: "Ubuntu";
font-size:2.5rem;
font-weight: 900;

  color:white;"
}

                                        /* Sections */

.coloured-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
    background-color: #fff;
}

/* Buttons */

.download-button {
 margin: 5% 3% 5% 0;
}


/* * TITLE */

/* Containers */
#title .container-fluid {
padding: padding: 3% 15% 7%;
text-align: left;
}


.iphone {
  transform: rotate(25deg);
  position: absolute;
  width: 60%;
  right: 30%;
}


                                              /* FEATURES */
#features {
  font-family: "Montserrat-bold";
  font-weight: 900;

  position: relative;
}

.feature-box {
  padding: 5%;
}

/* Symbols */
.smbl {
  color: #ef8172;
  margin-bottom: 1rem;
}

.smbl:hover {
  color: #ff4c68;
}


                                             /* Testimonials  */
#testimonials {

  background-color: #ef8172;
}

.dog-one {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

                                               /* Pricing */
#pricing {
  padding: 100px;
}

.box {
  padding: 3% 2%;
}

                                               /* footer */

.cta-buttons {
  margin-top: 60px;
}



.cc {
  margin-top: 1%;
}

.footer-icons {
  margin: 1%
}



@media (max-width: 992px) {

  #title .container-fluid {
  text-align: center;
  }


  .iphone {
    position: static;
    transform: rotate(0);

  }
}
